/* style.css
   Основные стили для страницы WebGPU Cloth Simulation
   Разделяем визуальные настройки от HTML и JS
   Author: Grigoriy Postolskiy
   Date: 2025
*/

body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: auto;
  border: 1px solid #444;
}

#ui {
  text-align: center;
  margin: 10px;
}
